.about-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  width: 90%;
  margin: auto;
}
.about-content {
  margin: auto;
  max-width: 80%;
  font-size: 20px;
  flex: 2;
  letter-spacing: 1.5px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 40px;
}
.about-content ul {
  padding: 0;
}
.about-content ul li {
  margin: 5px 0px;
}

.about-img-wrapper {
  flex: 1;
}
@media only screen and (max-width: 798px) {
  .about-container {
    display: block;
  }
  .about-content {
    font-size: 16px;
    max-width: 100%;
    padding: 10px 25px;
  }
}
