.rules-container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  padding: 30px 0px;
}
.rules-right {
  width: 440px;
}

@media only screen and (max-width: 798px) {
  .rules-container {
    display: block;
  }
  .rules-right {
    margin: auto;
    width: auto;
  }
}
