.welcome {
  display: flex;
  justify-content: center;
  margin: 0px;
  font-weight: bolder;
  /*background-color: black;*/
}
.hero-img {
  width: 100vw;
  object-fit: cover;
  min-height: 100%;
  height: 100%;
}
.hero-dull {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero-bg {
  position: relative;
  height: 80vh;
}
.hero-text {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: yellow;
  line-height: 1.2;
  margin: 0;
}

.bubble_hero {
  position: absolute;
  right: 0;
}

.fadein {
  animation: fadeIn 3s;
}
.hero-btn a {
  text-decoration: none;
  color: inherit;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-btn {
  margin: 20px 0px;
  font-size: 40px;
  padding: 5px;
}

@media only screen and (max-width: 798px) {
  .welcome {
    font-size: 20px;
    padding: 5px 0px;
    font-size: 14px;
  }
  .hero-img {
    width: 100%;
    min-height: auto;
  }
  .hero-bg {
    height: fit-content;
  }
  .bubble_hero {
    display: none;
  }

  .hero-text {
    width: 90%;
    font-size: 25px;
    color: yellow;
    line-height: 1;
    margin: 0;
  }
  .hero-btn {
    font-size: 20px;
  }
  .welcome h2 {
    padding: 0px 30px;
  }
  .welcome span {
    display: none;
  }
}
