.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.nav-menu a {
  color: inherit;
  text-decoration: none;
}
.link-container {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.my-style {
  text-align: center;
}
.logo-img {
  width: 175px;
  cursor: pointer;
  transition: transform 0.3s;
}
.logo-img:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  padding-right: 20px;
}
.menu-icon {
  display: none;
}
.show-menu {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
  height: 100%;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  z-index: 100;
  transition: 0.5s ease-in-out;
  position: fixed;
  top: 0;
}
.hide-menu {
  display: none;
}

@media only screen and (max-width: 798px) {
  .link-container {
    display: none;
  }
  .logo-img {
    width: 120px;
  }
  .menu-icon {
    display: block;
  }
  .cross-icon {
    display: block;
    cursor: pointer;
    float: right;
    margin: 15px 20px 0px 20px;
    font-size: 30px;
  }
  .show-menu nav {
    margin-top: 50px;
  }
  .show-menu nav ul {
    padding: 0px;
    text-align: center;
    font-size: 24px;
  }
  .show-menu nav ul li {
    margin: 20px 0px;
  }
}
